{{link-to "Create new" 'recipes.new'}}
{{outlet}}
<ul>
	{{#each model as |recipe|}}
		<li>
			{{#link-to 'recipes.show' recipe}}
				{{recipe.name}}
			{{/link-to}} |
			{{link-to "Edit" 'recipes.edit' recipe}}
		</li>
	{{/each}}
</ul>
